@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@600&family=Roboto:wght@400;500&display=swap');
body.apply-transition,
body.apply-transition * {
  transition: background-color 300ms ease-in-out, color 40ms ease-out;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
}

.list-item-body-wrapper .row {
  position: relative;
  display: inline-block;
}

.list-item-body-wrapper .row.strikethrough {
  @apply text-secondary;
}
.dark .list-item-body-wrapper .row.strikethrough {
  @apply text-secondary;
}

.list-item-body-wrapper .row.strikethrough {
  background-image: linear-gradient(to right, rgba(189, 189, 189, 0.801) 70%, #fd4b30 30%);
  background-repeat: no-repeat;
  background-size: auto 2px;
}

.list-item-body-wrapper .row.strikethrough:not(.animation) {
  background-position: 4px 50% !important;
  background-size: 147% 3px !important;
  transition: none !important;
}

.list-item-body-wrapper .row.strikethrough.animation {
  animation: strikethrough 0.7s;
  animation-fill-mode: forwards;
}

.dark .list-item-body-wrapper .row.strikethrough {
  background-image: linear-gradient(to right, rgba(128, 128, 128, 0.801) 70%, #fd4b30 30%);
}

@keyframes strikethrough {
  to {
    background-position: 4px 50%;
  }
}

input {
  background: #f2f2f2;
  border-radius: 8px;
}

.dark input {
  background: #141317;
}

.spinner {
  animation: spin 1s linear infinite;
  fill: #fd4b30;
  color: transparent;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vue-notification {
  border: none !important;
  @apply !bg-primary !m-0 !text-center;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input {
    font-size: 16px;
  }
}
